<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="stewart_robot" >

   <!-- stewart -->
  <xacro:include filename="$(find imu_state_estimation)/models/stewart/stewart.urdf" />


   <link name="world" />

   <joint name="base_joint" type="fixed">
     <parent link="world" />
     <child link = "stewart_base_link" />
     <origin xyz="0.0 0.0 0." rpy="0.0 0.0 0.0" />
   </joint>

</robot>
